*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/example/tana5915/drsroommonitor/MainActivity.java
app/src/main/assets/DrsMeetingRoom.xls
